<div class="container-form">

    <form class="example-form" [formGroup]="formGroup">
        <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Usuario" formControlName="usuario">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName="password">
        </mat-form-field>


    <button mat-button color="primary" (click)="login()">Iniciar Sesión</button>
    </form>
</div>